body
{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
    color: #fefefe;
    background-color: #eee;
}

.menu-wrapper
{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    background-color: #468966;
    padding: 10px 20px;
    -webkit-box-shadow: 5px 0px 24px 1px rgba(51,51,51,1);
-moz-box-shadow: 5px 0px 24px 1px rgba(51,51,51,1);
box-shadow: 5px 0px 24px 1px rgba(51,51,51,1);
}

.logo
{
    padding: 20px 0;
    text-align: center;
}

.site-brand
{
    width: 90px;
    height: 90px;
    border-radius: 45px;
}

.site-title
{
   font-weight: 300;
}

.menu-nav
{
    padding: 10px;
    font-weight: bold;
}

.menu-nav li
{
    border-radius: 10px;
    transition: .2s;
}

.menu-nav li:hover, .menu-nav li:focus
{
    background-color: #357855;
}

.menu-nav a, .menu-nav a:visited
{
    color: inherit;
}

.menu-nav a:hover, .menu-nav a:focus
{
    background: none !important;
    color: #ffb03b;
    transition: .2s;
}

.main-wrapper
{
    position: relative;
    padding: 20px 0;
}

.main-content
{
    background-color: #fff;
    border-radius: 7px;
    padding: 15px 20px;
    color: #333;
}
