body
{
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato', sans-serif;
}

.first
{
    color: #468966;
}

.second
{
    color: #ffb03b;
}

.third
{
    color: #b64926;
}

.full-page
{
    min-height: 100vh;
    width: 100%;
    padding: 40px 0;
}

.section-title
{
    text-align: center;
    margin: 0 0 15px 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    color: #333;
}

#banner
{
    background-image: url('../img/banner.png');
    background-position: center;
    background-attachment: fixed;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-wrapper
{
    width: 100%;
    text-align: center;
}

.brand
{
    width: 140px;
    height: 140px;
    border-radius: 70px;
}

.title
{
    font-weight: 100;
    font-size: 45px;
    margin: 10px 0 0 0;
}

#projects
{
    background-color: #eee;
}

#projects .row
{
    margin-bottom: 20px;
}

#projects .row:last-child
{
    margin-bottom: 0;
}

.project-img
{
    height: 200px;
    background-color: #462531;
}

.hover-content
{
    background: rgba(0, 0, 0, .5);
    color: #fff;
    display: table;
    height: 200px;
    left: 15px;
    position: absolute;
    top: 0;
    width: 318px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.hover-content:hover
{
    opacity: 1;
}

.see-more
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border: 3px solid #eee;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
    -webkit-transition: all opacity 500ms;
    -moz-transition: all opacity 500ms;
    -o-transition: all opacity 500ms;
    transition: all opacity 500ms;
}

.see-more:hover, .see-more:focus
{
    color: #ffb03b;
    border-color: #ffb03b;
    outline: none;
}

#about
{
    background-image: url('../img/code.jpg');
    background-position: center;
    background-attachment: fixed;
}

#about .section-title
{
    color: #eee;
}

.about-content
{
    background-color: rgba(238,238,238,0.9);
    color: #333;
    border-radius: 12px;
    padding: 30px 40px;
    margin: 70px;
}

#contact
{
    background-color: #eee;
}

.contact-msg
{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 50px 0;
}

.contact-item a
{
    text-align: center;
    transition: color .2s ease;
    display: block;
    color: #333;
    text-decoration: none;
    padding: 20px 0;
}

.facebook:hover, .facebook:focus
{
    background-color: #3b5999;
}

.twitter:hover, .twitter:focus
{
    background-color: #55acee;
}

.github:hover, .github:focus
{
    background-color: #000;
}

.copyright
{
    padding: 15px 0;
    background-color: #333;
    color: #eee;
    text-align: center;
    box-shadow: 0 -5px 12px 2px #333;
}
