{{ define "main" }}
    <div class="cv">
        <div class="info-wrapper">
            <header>
                <h1>
                    <span class="success">Kamil Rusin</span>
                </h1>
                <h2>Curriculum Vitae</h2>
            </header>
            <aside>
                <ul class="contact-info">
                    <li>
                        <span class="name">Phone number</span>
                        <a href="tel:+48517455134">+48 517 455 134</a>
                    </li>
                    <li>
                        <span class="name">Email</span>
                        <a href="mailto:kamil.jakub.rusin@gmail.com">kamil.jakub.rusin@gmail.com</a>
                    </li>
                    <li>
                        <span class="name">Location</span>
                        <span>Cracow, Poland</span>
                    </li>
                </ul>
            </aside>
        </div>

        <article class="section">
            <header>
                <h2>Education</h2>
            </header>
            <main>
                <div class="section-block">
                    <div class="notes-wrapper">
                        <h3>The Cracow University of Technology</h3>
                        <span class="dates">2021 - 2022</span>
                    </div>
                    <div class="notes-wrapper">
                        <p>Master of Science (MSc), Applied Computer Science</p>
                        <span class="marks">5/5</span>
                    </div>
                    <p>Graduated with distinction</p>
                </div>

                <div class="section-block">
                    <div class="notes-wrapper">
                        <h3>The Cracow University of Technology</h3>
                        <span class="dates">2027 - 2021</span>
                    </div>
                    <div class="notes-wrapper">
                        <p>Bachelor of Science (BSc), Applied Computer Science</p>
                        <span class="marks">4.5/5</span>
                    </div>
                </div>
            </main>
        </article>

        <article class="section">
            <header>
                <h2>Work Experience</h2>
            </header>
            <main>
                <div class="section-block">
                    <h3>OpenX</h3>
                    <div class="notes-wrapper">
                        <p>Software Engineer II</p>
                        <span class="dates">September 2022 - present</span>
                    </div>
                </div>

                <div class="section-block">
                    <h3>Motorola Solutions</h3>
                    <div class="notes-wrapper">
                        <p>Software Engineer</p>
                        <span class="dates">May 2022 - September 2022</span>
                    </div>
                    <div class="notes-wrapper">
                        <p>Software Developer</p>
                        <span class="dates">May 2021 - April 2022</span>
                    </div>
                    <div class="notes-wrapper">
                        <p>Junior Software Developer</p>
                        <span class="dates">October 2020 - April 2021</span>
                    </div>
                    <div class="notes-wrapper">
                        <p>Software Developer Intern</p>
                        <span class="dates">March 2020 - September 2020</span>
                    </div>
                </div>
            </main>
        </article>

        <article class="section">
            <header>
                <h2>Projects</h2>
            </header>
            <main>
                <div class="section-block">
                    <h3>Franklin</h3>
                    <div class="notes-wrapper">
                        <p>Software Developer Intern</p>
                        <span class="dates">March 2020 - September 2020</span>
                    </div>
                </div>
            </main>
        </article>

        <article class="section">
            <header>
                <h2>Certifications</h2>
            </header>
            <main>
                <div class="section-block">
                    <h3>English for Specific Purposes language certificate at C1 level</h3>
                    <div class="notes-wrapper">
                        <p>The Cracow University of Technology</p>
                        <span class="dates">February 2019</span>
                    </div>
                </div>

                <div class="section-block">
                    <h3>Cisco IT Essentials</h3>
                    <div class="notes-wrapper">
                        <p>Cisco</p>
                        <span class="dates">April 2015</span>
                    </div>
                </div>
            </main>
        </article>
    </div>
{{ end }}
