{{ define "main" }}
    <div class="entry">
        <header class="term-header">
            <h1>#{{ .Title }}</h1>
        </header>
    </div>

    {{ $pages := .Pages }}
    {{ if eq (len $pages) 0 }}
        <div class="empty-section">
            <p>
                There's nothing here.
                <span class="monospace">☜(꒡⌓꒡)</span>
            </p>
        </div>
    {{ end }}
    {{ range $pages }}
        {{ partial "article-card" (dict "page" . "ShowCurrentSection" false) }}
    {{ end }}
{{ end }}
