<footer class="entry-meta">
    {{ if .Params.show_date | default true }}
        {{ $timestamp := .Date | time.Format "2006-01-02T15:04:05.999" }}
        <time datetime="{{ $timestamp }}">
            <span>{{ .Date | time.Format "2006" }}</span>
            <span>{{ .Date | time.Format "01" }}</span>
            <span>{{ .Date | time.Format "02" }}</span>
        </time>
    {{ end }}

    {{ if .Params.show_reading_time | default true }}
        <span>{{ printf "%d min" .ReadingTime }}</span>
    {{ end }}

    {{ if .Params.show_author | default true }}
        <span>
            <span class="success">{{ .Site.Params.Author.FirstName }}</span>
            <span>{{ .Site.Params.Author.LastName }}</span>
        </span>
    {{ end }}

    {{ if and (.Params.show_comment_count | default false) (isset .Params "disqus_identifier") }}
        <span class="disqus-comment-count" data-disqus-identifier="{{ .Params.disqus_identifier }}">
            ? Comments
        </span>
    {{ end }}
</footer>
