<div id="madebyme-consent-banner" class="madebyme-consent-banner">
    <p>
        This website uses <a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a> to gather
        data about page views and 3rd-party cookies to support article comments
        (<a href="https://disqus.com/">Disqus</a>).
    </p>
    <p>
        This website respects <b><a href="https://en.wikipedia.org/wiki/Do_Not_Track">Do Not Track</a></b> header field.
        If you do not wish to be tracked by Google Analytics, then please enable <b>Do Not Track</b> for this website.
    </p>
    <div class="consent-button-wrapper">
        <button id="consent-button" class="consent-button">I acknowledge, don't show me this again</button>
    </div>
</div>
