<div id="madebyme-consent-banner" class="madebyme-consent-banner">
    <p>
        This website uses <a href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a> to gather
        data about page views and 3rd-party cookies to support article comments
        (<a href="https://disqus.com/">Disqus</a>).
    </p>
    <div class="consent-button-wrapper">
        <button id="consent-button" class="consent-button">I acknowledge, don't show me this again</button>
    </div>
</div>
