{{ if not (in (print $.Site.BaseURL) "localhost") }}
    {{/*  Load Disqus comment count utility.  */}}
    <script id="dsq-count-scr" src="//madebyme.disqus.com/count.js" async></script>
{{ end }}

<!-- Consent banner -->
<script>
    const localStorageKey = "madebyme-given-consent";


    const consentBannerVersion = "{{ .Site.Params.privacy.consentBannerVersion }}";

    document.getElementById("consent-button").addEventListener("click", () => {
        localStorage.setItem(localStorageKey, consentBannerVersion);
        document.getElementById("madebyme-consent-banner").style["display"] = "none";
    });

    const localBannerVersion = localStorage.getItem(localStorageKey);
    if (localBannerVersion !== consentBannerVersion) {
        document.getElementById("madebyme-consent-banner").style["display"] = "block";
    }
</script>
