@charset "UTF-8";
@keyframes cursor-blink {
  0% {
    opacity: 0; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  margin: 0 auto;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
  color: #393636;
  background: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.site-main {
  flex: 1; }

.success {
  color: #297373; }

.monospace {
  font-family: "Inconsolata", monospace; }

.bold {
  font-weight: bold; }

.grid {
  display: block;
  padding: 0;
  margin: 0 -20px;
  font-size: 0;
  text-align: left; }

.grid-cell {
  display: inline-block;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  font-size: 16px;
  text-align: left;
  vertical-align: top; }
  .grid-cell.with-1col {
    width: 8.33333333%; }
  .grid-cell.with-2col {
    width: 16.66666667%; }
  .grid-cell.with-3col {
    width: 25%; }
  .grid-cell.with-4col {
    width: 33.33333333%; }
  .grid-cell.with-5col {
    width: 41.66666667%; }
  .grid-cell.with-6col {
    width: 50%; }
  .grid-cell.with-7col {
    width: 58.33333333%; }
  .grid-cell.with-8col {
    width: 66.66666667%; }
  .grid-cell.with-9col {
    width: 75%; }
  .grid-cell.with-10col {
    width: 83.33333333%; }
  .grid-cell.with-11col {
    width: 91.66666667%; }
  .grid-cell.with-1off {
    margin-left: 8.33333333%; }
  .grid-cell.with-2off {
    margin-left: 16.66666667%; }
  .grid-cell.with-3off {
    margin-left: 25%; }
  .grid-cell.with-4off {
    margin-left: 33.33333333%; }
  .grid-cell.with-5off {
    margin-left: 41.66666667%; }
  .grid-cell.with-6off {
    margin-left: 50%; }
  .grid-cell.with-7off {
    margin-left: 58.33333333%; }
  .grid-cell.with-8off {
    margin-left: 66.66666667%; }
  .grid-cell.with-9off {
    margin-left: 75%; }
  .grid-cell.with-10off {
    margin-left: 83.33333333%; }
  .grid-cell.with-11off {
    margin-left: 91.66666667%; }
  .grid-cell.is-centered {
    text-align: center; }
  .grid-cell.is-right {
    text-align: right; }
  .grid-cell.is-top {
    vertical-align: top; }
  .grid-cell.is-middle {
    vertical-align: middle; }
  .grid-cell.is-bottom {
    vertical-align: bottom; }

.grid-centered {
  max-width: 720px;
  margin-right: auto;
  margin-left: auto; }

.grid-full-centered {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto; }

@media all and (max-width: 767px) {
  .grid-cell.with-1col {
    width: 100%; }
  .grid-cell.with-1off {
    margin-left: 0; }
  .grid-cell.with-2col {
    width: 100%; }
  .grid-cell.with-2off {
    margin-left: 0; }
  .grid-cell.with-3col {
    width: 100%; }
  .grid-cell.with-3off {
    margin-left: 0; }
  .grid-cell.with-4col {
    width: 100%; }
  .grid-cell.with-4off {
    margin-left: 0; }
  .grid-cell.with-5col {
    width: 100%; }
  .grid-cell.with-5off {
    margin-left: 0; }
  .grid-cell.with-6col {
    width: 100%; }
  .grid-cell.with-6off {
    margin-left: 0; }
  .grid-cell.with-7col {
    width: 100%; }
  .grid-cell.with-7off {
    margin-left: 0; }
  .grid-cell.with-8col {
    width: 100%; }
  .grid-cell.with-8off {
    margin-left: 0; }
  .grid-cell.with-9col {
    width: 100%; }
  .grid-cell.with-9off {
    margin-left: 0; }
  .grid-cell.with-10col {
    width: 100%; }
  .grid-cell.with-10off {
    margin-left: 0; }
  .grid-cell.with-11col {
    width: 100%; }
  .grid-cell.with-11off {
    margin-left: 0; } }

a {
  color: inherit;
  text-decoration: inherit;
  transition: color 0.5s ease-out;
  text-underline-offset: auto; }
  a .inline-svg > svg,
  a .inline-svg > svg > * {
    fill: transparent;
    transition: fill 0.5s ease-out; }

a:not(.plain):hover,
a:not(.plain):active {
  color: #297373; }
  a:not(.plain):hover .inline-svg > svg,
  a:not(.plain):hover .inline-svg > svg > *,
  a:not(.plain):active .inline-svg > svg,
  a:not(.plain):active .inline-svg > svg > * {
    fill: #297373; }

a.active {
  font-weight: 700;
  color: #297373; }

.entry main a:not(.anchor),
.article-card .entry-content a:not(.anchor) {
  text-decoration: underline dotted;
  text-decoration-thickness: 2px; }
  .entry main a:not(.anchor)[href^="http"]:not(:has(img))::after, .entry main a:not(.anchor)[href^="https"]:not(:has(img))::after,
  .article-card .entry-content a:not(.anchor)[href^="http"]:not(:has(img))::after,
  .article-card .entry-content a:not(.anchor)[href^="https"]:not(:has(img))::after {
    content: "";
    width: 10.66666667px;
    height: 10.66666667px;
    margin-left: 3px;
    background-image: url("/external-link.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block; }

.article-card {
  padding: 14px;
  background-color: #fff;
  border: 1px solid #edecec;
  border-radius: 8px; }
  .article-card header {
    display: flex;
    justify-content: left;
    align-items: top; }
    .article-card header .entry-section {
      font-family: "Inconsolata", monospace;
      margin: 0 0 0 10px;
      line-height: 1;
      color: #e74b3c; }
      .article-card header .entry-section::before {
        content: "["; }
      .article-card header .entry-section::after {
        content: "]"; }
  .article-card:not(:last-of-type) {
    margin-bottom: 20px; }
  .article-card header h2 {
    margin: 0;
    display: inline; }
  .article-card .entry-content * {
    font-size: 15px;
    margin: 7.5px 0; }

footer.entry-meta {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 300; }
  footer.entry-meta > time {
    display: flex;
    justify-content: left;
    align-items: center; }
    footer.entry-meta > time > *:not(:last-child)::after {
      padding: 0 2px;
      content: "/"; }
  footer.entry-meta > *:not(:last-child)::after {
    padding: 0 3px;
    font-family: "Inconsolata", monospace;
    content: "·"; }

@media all and (max-width: 767px) {
  footer.entry-meta {
    flex-wrap: wrap; } }

.breadcrumb {
  margin: 4.16666667% 0 4.16666667% 0; }
  .breadcrumb > ul,
  .breadcrumb > ol {
    display: flex;
    justify-content: left;
    font-size: 12.8px;
    margin: 8.33333333% 0; }
    .breadcrumb > ul > *:not(:last-child)::after,
    .breadcrumb > ol > *:not(:last-child)::after {
      padding: 0 5px;
      content: "»"; }

.entry header > h1 {
  font-size: 32px;
  margin: 0; }

.entry main {
  margin-top: 20px;
  margin-bottom: 20px; }
  .entry main blockquote {
    margin: 20px 0;
    padding: 0 20px;
    border-inline-start: 3px solid #297373;
    color: #615b5b;
    font-style: italic; }
  .entry main code:not(:has(span)) {
    font-style: normal;
    background-color: #dedddd;
    border-radius: 4px;
    padding: 3px 5px; }
  .entry main .highlight, .entry main .highlight > div {
    overflow-x: auto; }
  .entry main .highlight pre {
    overflow-x: auto;
    border-radius: 8px;
    padding: 5px 10px; }
  .entry main hr {
    margin: 20px 0;
    height: 2px;
    border: 0;
    background-color: #dedddd; }
  .entry main p:has(img) {
    display: flex;
    justify-content: center; }
  .entry main img {
    max-width: 80%;
    height: auto;
    border: 4px solid #dedddd;
    border-radius: 8px; }
  .entry main h2,
  .entry main h3,
  .entry main h4,
  .entry main h5,
  .entry main h6 {
    position: relative;
    left: 0; }
    .entry main h2 > .anchor,
    .entry main h3 > .anchor,
    .entry main h4 > .anchor,
    .entry main h5 > .anchor,
    .entry main h6 > .anchor {
      position: absolute;
      left: -15px;
      opacity: 0;
      padding-right: 5px; }
    .entry main h2:hover > .anchor,
    .entry main h3:hover > .anchor,
    .entry main h4:hover > .anchor,
    .entry main h5:hover > .anchor,
    .entry main h6:hover > .anchor {
      opacity: 1; }

.entry-social {
  margin-bottom: 40px; }

.empty-section {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #888181;
  padding: 40px 0;
  -webkit-box-shadow: inset 0px 0px 25px -10px #edecec;
  -moz-box-shadow: inset 0px 0px 25px -10px #edecec;
  box-shadow: inset 0px 0px 25px -10px #edecec; }
  .empty-section p {
    margin: 0;
    font-style: italic; }

.site-footer {
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #615b5b; }

.site-info {
  margin: 12.5% 0 16.66666667% 0; }
  .site-info .brand > h1 {
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2px; }
    .site-info .brand > h1::after {
      content: "";
      margin-left: 2px;
      width: 4px;
      height: 40px;
      background: #ada8a8;
      display: inline-block;
      animation: cursor-blink 1.5s steps(2) infinite; }
  .site-info main {
    margin: 8px 0; }
    .site-info main p {
      margin: 0;
      line-height: 1.5; }

nav.nav > ul,
nav.nav > ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0; }
  .navbar-content .navbar-logo {
    color: #297373;
    font-weight: 700;
    font-size: 17.6px;
    user-select: none; }
    .navbar-content .navbar-logo > * {
      display: flex;
      justify-content: left;
      align-items: center; }
    .navbar-content .navbar-logo img {
      height: 32px;
      width: auto;
      margin-right: 10px; }
  .navbar-content .navbar-items > ul,
  .navbar-content .navbar-content > ol {
    display: flex;
    justify-content: left;
    align-items: center; }
    .navbar-content .navbar-items > ul > li:not(:last-child),
    .navbar-content .navbar-content > ol > li:not(:last-child) {
      margin-right: 20px; }

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 32px 0 0 0;
  display: flex;
  justify-content: left;
  align-items: center; }
  .social-media li:not(:last-of-type) {
    margin-inline-end: 20px; }

.not-found-banner {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-direction: column;
  margin-top: 8.33333333%;
  border-radius: 8px;
  background-color: #f0f0f0;
  color: #ada8a8;
  padding: 40px 0;
  -webkit-box-shadow: inset 0px 0px 25px -10px #ada8a8;
  -moz-box-shadow: inset 0px 0px 25px -10px #ada8a8;
  box-shadow: inset 0px 0px 25px -10px #ada8a8; }
  .not-found-banner h1,
  .not-found-banner h2 {
    margin: 0;
    text-align: center;
    font-weight: 300; }
  .not-found-banner h1 {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px; }
    .not-found-banner h1::after {
      content: "";
      margin-left: 2px;
      width: 4px;
      height: 80px;
      background: #ada8a8;
      display: inline-block;
      animation: cursor-blink 1.5s steps(2) infinite; }
