a {
    color: inherit;
    text-decoration: inherit;
    transition: color $hover-transition ease-out;
    text-underline-offset: auto;

    &:not(.anchor) .inline-svg>svg,
    &:not(.anchor) .inline-svg>svg>* {
        fill: transparent;
        transition: fill $hover-transition ease-out;
    }
}

a:not(.plain):hover,
a:not(.plain):active {
    color: $brand-success;

    &:not(.anchor) .inline-svg>svg,
    &:not(.anchor) .inline-svg>svg>* {
        fill: $brand-success;
    }
}

a.active {
    font-weight: $base-font-weight-bold;
    color: $brand-success;
}

// Styles for links inside articles' bodies
.entry main a:not(.anchor):not(.footnote-ref):not(.footnote-backref),
.article-card .entry-content a:not(.anchor):not(.footnote-ref):not(.footnote-backref) {
    text-decoration: underline dotted;
    text-decoration-thickness: 2px;

    &[href^="http"]:not(:has(img))::after,
    &[href^="https"]:not(:has(img))::after {
        content: "";
        width: $base-font-size / 1.5;
        height: $base-font-size / 1.5;
        margin-left: 3px;
        background-image: url("/external-link.svg");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }
}
