.entry {
    header>h1 {
        font-size: $base-font-size * 2;
        margin: 0;
    }

    .table-of-contents-wrapper {
        input[type='checkbox'] {
            display: none;
        }

        .wrap-collapsible {
            margin: $gap 0;
        }

        .lbl-toggle {
            display: block;
            font-weight: $base-font-weight-light;
            font-size: $base-font-size;
            text-transform: uppercase;
            padding: $gap/2;
            color: $base-font-color;
            background: $gray-lighter;
            cursor: pointer;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            transition: all $toc-toggle-transition ease-out;
        }

        .lbl-toggle::before {
            content: ' ';
            display: inline-block;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid currentColor;
            vertical-align: middle;
            margin-right: .7rem;
            transform: translateY(-2px);
            transition: transform $toc-toggle-transition ease-out;
        }

        .toggle:checked+.lbl-toggle::before {
            transform: rotate(90deg) translateX(-3px);
        }

        .collapsible-content {
            max-height: 0px;
            overflow: hidden;
            transition: max-height $toc-toggle-transition ease-in-out;
        }

        .toggle:checked+.lbl-toggle+.collapsible-content {
            max-height: 350px;
        }

        .collapsible-content .content-inner {
            background-color: $gray-lightest;
            border-bottom: 2px solid $gray-lighter;
            border-left: 2px solid $gray-lighter;
            border-right: 2px solid $gray-lighter;
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
            padding: .5rem 1rem;
        }
    }

    #TableOfContents {
        font-size: $small-font-size;

        ul,
        ol {
            margin: 0;
            list-style-type: none;
            padding: 0;

            ul,
            ol {
                padding-left: $gap;
            }

            li {
                margin: 5px 0;

                &::before {
                    content: "▸ ";
                }
            }
        }
    }

    main {
        margin-top: $gap;
        margin-bottom: $gap;

        blockquote {
            margin: $gap 0;
            padding: 0 $gap;
            border-inline-start: 3px solid $brand-success;
            color: $base-accent-color;
            font-style: italic;
        }

        code:not(:has(span)) {
            font-style: normal;
            background-color: $code-background;
            border-radius: $border-radius / 2;
            padding: 3px 5px;
        }

        .highlight {

            // It's weird, but ".highlight" has a child with the background color.
            &,
            &>div {
                overflow-x: auto;
            }

            pre {
                overflow-x: auto;
                border-radius: $border-radius;
                padding: 5px 10px;
            }
        }

        p:has(img) {
            display: flex;
            justify-content: center;
        }

        figure {

            &,
            &>a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &>a {
                text-decoration: none !important;
            }


            img {
                max-width: 80%;
                height: auto;
            }

            &.border img {
                border: 4px solid $dark-border-color;
                border-radius: $border-radius;
            }

            figcaption {
                display: flex;
                flex-direction: column;
                align-items: center;


                // Image title
                h4 {
                    margin: 5px 0 0 0;

                    &::before,
                    &::after {
                        content: "\"";
                    }
                }

                // Image caption, Image attribution
                p {
                    margin: 0;
                    font-size: $small-font-size;
                    font-style: italic;
                }
            }
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            display: flex;
            align-items: center;
            justify-content: left;

            .anchor {
                margin-left: 5px;
            }
        }
    }

    .tags {
        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;

        li {
            display: flex;
            justify-content: left;

            &:not(:last-child) {
                margin-right: 10px;
            }

            >a {
                padding: 5px 10px;
                background-color: $gray-lightest;
                border: 1px solid $gray-lighter;
                border-radius: $border-radius;

                &::before {
                    content: "#";
                }
            }
        }
    }

    .katex-display {
        overflow-x: auto;
    }
}

.entry-social {
    margin-bottom: $gap * 2;
}

.empty-section {
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darken($body-background, 2);
    color: $gray;
    padding: $gap * 2 0;

    -webkit-box-shadow: inset 0px 0px 25px -10px $gray-lightest;
    -moz-box-shadow: inset 0px 0px 25px -10px $gray-lightest;
    box-shadow: inset 0px 0px 25px -10px $gray-lightest;

    p {
        margin: 0;
        font-style: italic;
    }
}
