html[data-bs-theme="dark"] {
  /* Background */
  /* PreWrapper */
  /* Other */
  /* Error */
  /* CodeLine */
  /* LineLink */
  /* LineTableTD */
  /* LineTable */
  /* LineHighlight */
  /* LineNumbersTable */
  /* LineNumbers */
  /* Line */
  /* Keyword */
  /* KeywordConstant */
  /* KeywordDeclaration */
  /* KeywordNamespace */
  /* KeywordPseudo */
  /* KeywordReserved */
  /* KeywordType */
  /* Name */
  /* NameAttribute */
  /* NameBuiltin */
  /* NameBuiltinPseudo */
  /* NameClass */
  /* NameConstant */
  /* NameDecorator */
  /* NameEntity */
  /* NameException */
  /* NameFunction */
  /* NameFunctionMagic */
  /* NameLabel */
  /* NameNamespace */
  /* NameOther */
  /* NameProperty */
  /* NameTag */
  /* NameVariable */
  /* NameVariableClass */
  /* NameVariableGlobal */
  /* NameVariableInstance */
  /* NameVariableMagic */
  /* Literal */
  /* LiteralDate */
  /* LiteralString */
  /* LiteralStringAffix */
  /* LiteralStringBacktick */
  /* LiteralStringChar */
  /* LiteralStringDelimiter */
  /* LiteralStringDoc */
  /* LiteralStringDouble */
  /* LiteralStringEscape */
  /* LiteralStringHeredoc */
  /* LiteralStringInterpol */
  /* LiteralStringOther */
  /* LiteralStringRegex */
  /* LiteralStringSingle */
  /* LiteralStringSymbol */
  /* LiteralNumber */
  /* LiteralNumberBin */
  /* LiteralNumberFloat */
  /* LiteralNumberHex */
  /* LiteralNumberInteger */
  /* LiteralNumberIntegerLong */
  /* LiteralNumberOct */
  /* Operator */
  /* OperatorWord */
  /* Punctuation */
  /* Comment */
  /* CommentHashbang */
  /* CommentMultiline */
  /* CommentSingle */
  /* CommentSpecial */
  /* CommentPreproc */
  /* CommentPreprocFile */
  /* Generic */
  /* GenericDeleted */
  /* GenericEmph */
  /* GenericError */
  /* GenericHeading */
  /* GenericInserted */
  /* GenericOutput */
  /* GenericPrompt */
  /* GenericStrong */
  /* GenericSubheading */
  /* GenericTraceback */
  /* GenericUnderline */
  /* TextWhitespace */ }
  html[data-bs-theme="dark"] .bg {
    color: #e6edf3;
    background-color: #0d1117; }
  html[data-bs-theme="dark"] .chroma {
    color: #e6edf3;
    background-color: #0d1117; }
  html[data-bs-theme="dark"] .chroma .err {
    color: #f85149; }
  html[data-bs-theme="dark"] .chroma .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit; }
  html[data-bs-theme="dark"] .chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0; }
  html[data-bs-theme="dark"] .chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0; }
  html[data-bs-theme="dark"] .chroma .hl {
    color: #6e7681; }
  html[data-bs-theme="dark"] .chroma .lnt {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #737679; }
  html[data-bs-theme="dark"] .chroma .ln {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #6e7681; }
  html[data-bs-theme="dark"] .chroma .line {
    display: flex; }
  html[data-bs-theme="dark"] .chroma .k {
    color: #ff7b72; }
  html[data-bs-theme="dark"] .chroma .kc {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .kd {
    color: #ff7b72; }
  html[data-bs-theme="dark"] .chroma .kn {
    color: #ff7b72; }
  html[data-bs-theme="dark"] .chroma .kp {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .kr {
    color: #ff7b72; }
  html[data-bs-theme="dark"] .chroma .kt {
    color: #ff7b72; }
  html[data-bs-theme="dark"] .chroma .nc {
    color: #f0883e;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .no {
    color: #79c0ff;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .nd {
    color: #d2a8ff;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .ni {
    color: #ffa657; }
  html[data-bs-theme="dark"] .chroma .ne {
    color: #f0883e;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .nf {
    color: #d2a8ff;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .nl {
    color: #79c0ff;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .nn {
    color: #ff7b72; }
  html[data-bs-theme="dark"] .chroma .py {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .nt {
    color: #7ee787; }
  html[data-bs-theme="dark"] .chroma .nv {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .l {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .ld {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .s {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .sa {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .sb {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .sc {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .dl {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .sd {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .s2 {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .se {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .sh {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .si {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .sx {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .sr {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .s1 {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .ss {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .m {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .mb {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .mf {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .mh {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .mi {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .il {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .mo {
    color: #a5d6ff; }
  html[data-bs-theme="dark"] .chroma .o {
    color: #ff7b72;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .ow {
    color: #ff7b72;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .c {
    color: #8b949e;
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .ch {
    color: #8b949e;
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .cm {
    color: #8b949e;
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .c1 {
    color: #8b949e;
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .cs {
    color: #8b949e;
    font-weight: bold;
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .cp {
    color: #8b949e;
    font-weight: bold;
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .cpf {
    color: #8b949e;
    font-weight: bold;
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .gd {
    color: #ffa198;
    background-color: #490202; }
  html[data-bs-theme="dark"] .chroma .ge {
    font-style: italic; }
  html[data-bs-theme="dark"] .chroma .gr {
    color: #ffa198; }
  html[data-bs-theme="dark"] .chroma .gh {
    color: #79c0ff;
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .gi {
    color: #56d364;
    background-color: #0f5323; }
  html[data-bs-theme="dark"] .chroma .go {
    color: #8b949e; }
  html[data-bs-theme="dark"] .chroma .gp {
    color: #8b949e; }
  html[data-bs-theme="dark"] .chroma .gs {
    font-weight: bold; }
  html[data-bs-theme="dark"] .chroma .gu {
    color: #79c0ff; }
  html[data-bs-theme="dark"] .chroma .gt {
    color: #ff7b72; }
  html[data-bs-theme="dark"] .chroma .gl {
    text-decoration: underline; }
  html[data-bs-theme="dark"] .chroma .w {
    color: #6e7681; }
